@import url('https://fonts.googleapis.com/css?family=Oswald');

body, input, button {
	font-family: 'Oswald', sans-serif;
}

body {
	margin-left: 10px;
}

span.select2 {
	width: 75% !important;
}

.grid__row {
	margin: 10px 0px;
	display: flex;
}

.grid__row.target {
	margin-bottom: 2em;
}

.nav-item {
	list-style: none;
	padding: 10px 20px;

}

nav ul {
	display: flex;
	margin-bottom: 1em;
}

button {
	font-size: 1.5em;
	border-radius: 3px;
	background-color: #8d539e;
}