body {
	margin-left: 10px;
}

span.select2 {
	width: 75% !important;
}

div.row {
	margin: 10px 0px;
}

div.row.target {
	margin-bottom: 2em;
}

.nav-item {
	list-style: none;
	padding: 10px 20px;

}

nav ul {
	display: flex;
	position: fixed;
	margin-bottom: 300px;
}